.ai-marker-wrapper {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px 6px;
  border: 1.5px solid #ff7b27;
  border-radius: 30%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.ai-marker-label {
  font-size: 12px;
  font-weight: bold;
  color: #ff7b27;
}
